<div class="mb-2">
  <p-menubar [model]="items">

    <ng-template pTemplate="start">
      <a href="/home/inicio">
        <img src="../../../../assets/images/logoMYGYM.png" alt="mi imagen" height="60" class="mr-2">
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <p-button label="Apuntate" [text]="true" [plain]="true" routerLink="/auth/register"></p-button>
      <p-button label="My Gym" [text]="true" [plain]="true" routerLink="/auth/login"></p-button>
    </ng-template>

  </p-menubar>
</div>




<div>
  <router-outlet></router-outlet>
</div>
