<!-- <h1>Mantenimiento de usuario</h1> -->
<p-toast></p-toast>
<div class="grid justify-content-center">
  <div class="sm:col-11 md:col-8 lg:col-6 mt-5 p-4 ">
    <h2>Definición de usuario</h2>
    <form [formGroup]="myForm" (ngSubmit)="doSubmit()" >

      <div class="field">
        <label>Dni</label>
        <input pInputText formControlName="dni"  class="text-base p-2 w-full" type="text">
        <span *ngIf="myForm.get('dni')?.hasError('required')" class="text-red-500">
          El dni es requerido
        </span>
        <span *ngIf="myForm.get('dni')?.hasError('required') ? false:  myForm.get('dni')?.hasError('dniInvalido') " class="text-red-500">
          Formato de dni invalido, introduzca un dni valido
        </span>
        <span *ngIf="myForm.get('dni')?.hasError('required') ? false:  myForm.get('dni')?.hasError('dniNoValido') " class="text-red-500">
          Dni no valido, debe introducir un dni valido
        </span>
      </div>

      <div class="field">
        <label>Nombre</label>
        <input pInputText formControlName="nombre" class="text-base p-2 w-full"  type="text">
      </div>

      <div class="field">
        <label>Apellidos</label>
        <input pInputText formControlName="apellidos" class="text-base p-2 w-full"  type="text">
      </div>

      <div class="field" *ngIf="!id">
        <label>Contraseña</label><br>
        <input type="password" [feedback]="false" pPassword class="w-full" formControlName="password" >
        <span *ngIf="myForm.get('password')?.hasError('required')"  class="text-red-500">
          La contraseña es requerida
        </span>
        <span *ngIf="myForm.get('password')?.hasError('required') ? false:  myForm.get('password')?.hasError('minlength')"   class="text-red-500">
          La contraseña debe tener un mínimo de 6 caracteres de longitud
        </span>
      </div>

      <div class="field" *ngIf="id">
        <label>Estado</label><br>
        <p-inputSwitch formControlName="estado"></p-inputSwitch>
      </div>

      <div class="field ">
        <label>Fecha Nacimiento</label><br>
        <p-calendar formControlName="fechaNacimiento" [showIcon]="true" name="fechaNac" ></p-calendar><br>
      </div>

      <div class="field">
        <label>telefono</label><br>
        <p-inputNumber formControlName="telefono" [useGrouping]="false" /><br>
      </div>

      <div class="field">
        <label>Correo Electronico</label>
        <input pInputText  class="text-base p-2 w-full" formControlName="correo"  type="text">
      </div>

      <div class="field">
        <label>Repetir Correo Electronico</label>
        <input pInputText class="text-base p-2 w-full" formControlName="repetirCorreo"  type="text">
        <span *ngIf="isValidField('repetirCorreo')"  class="text-red-500">
          El correo no coincide
        </span>
      </div>

      <div class="field">
        <label>Dirección</label>
        <input pInputText class="text-base p-2 w-full" formControlName="direccion"  type="text">
      </div>

      <div class="field ">
        <label>Fecha Inicio</label><br>
        <p-calendar formControlName="fechaIni" [showIcon]="true" name="fechaIni" ></p-calendar><br>
      </div>

      <div>
        <button
         pButton
         [disabled]=" myForm.pristine  || !myForm.valid "
         name="enviar"
         type="submit"
         label="Guardar">
        </button>
      </div>

    </form>
  </div>
</div>

<p-button
  label="Regresar al listado de Usuarios"
  icon="pi pi-angle-double-left"
  [routerLink]="['/admin/usuarios']"
/>
