<div class="grid justify-content-center">
  <div class="sm:col-11 md:col-7 lg:col-6 mt-5 p-4  ">
    <h1 style="text-align: center;">Registrarse</h1>
    <form [formGroup]="myForm" (ngSubmit)="doSubmit()" class="registration-form">

      <div class="field">
        <label>Dni</label>
        <input pInputText formControlName="dni"  class="text-base p-2 w-full" type="text">
        <span *ngIf="myForm.get('dni')?.hasError('required') && myForm.controls['dni'].touched" class="text-red-500">
          El dni es requerido
        </span>
        <span *ngIf="myForm.get('dni')?.hasError('required') ? false:  myForm.get('dni')?.hasError('dniInvalido') && myForm.controls['dni'].touched" class="text-red-500">
          Formato de dni invalido, introduzca un dni valido
        </span>
        <span *ngIf="myForm.get('dni')?.hasError('required') ? false:  myForm.get('dni')?.hasError('dniNoValido') && myForm.controls['dni'].touched" class="text-red-500">
          Dni no valido, debe introducir un dni valido
        </span>
      </div>

      <div class="field">
        <label>Nombre</label>
        <input pInputText formControlName="nombre" class="text-base p-2 w-full"  type="text">
        <span *ngIf="isValidField('nombre')"  class="text-red-500">
          El nombre es requerido
        </span>
      </div>

      <div class="field">
        <label>Apellidos</label>
        <input pInputText formControlName="apellidos" class="text-base p-2 w-full"  type="text">
        <span *ngIf="isValidField('apellidos')"  class="text-red-500">
          Los apellidos son requeridos
        </span>
      </div>

      <div class="field">
        <label>Contraseña</label><br>
        <input type="password" [feedback]="false" pPassword class="w-full" formControlName="password" >
        <span *ngIf="myForm.get('password')?.hasError('required') && myForm.controls['dni'].touched"  class="text-red-500">
          La contraseña es requerida
        </span>
        <span *ngIf="myForm.get('password')?.hasError('required') ? false:  myForm.get('password')?.hasError('minlength') && myForm.controls['password'].touched"   class="text-red-500">
          La contraseña debe tener un mínimo de 6 caracteres de longitud
        </span>
      </div>

      <div class="field ">
        <label>Fecha Nacimiento</label><br>
        <p-calendar formControlName="fechaNacimiento" [showIcon]="true" name="fechaNac" ></p-calendar><br>
        <span *ngIf="isValidField('fechaNacimiento')"  class="text-red-500">
          La fecha de nacimiento es requerida
        </span>
      </div>

      <div class="field ">
        <label>Plan</label><br>
        <p-dropdown formControlName="plan" (onChange)="changePlan($event)" [options]="selectPlan" optionLabel="nombre" placeholder="Selecciona un plan"></p-dropdown><br>
        <span *ngIf="isValidField('plan')"  class="text-red-500">
          El plan es requerido
        </span>
      </div>

      <div class="field">
        <label>Teléfono</label><br>
        <p-inputNumber formControlName="telefono" [useGrouping]="false" /><br>
        <span *ngIf="isValidField('telefono')" class="text-red-500">
          El teléfono es requerido
        </span>
        <span *ngIf="myForm.get('telefono')?.hasError('required') ? false:  myForm.get('telefono')?.hasError('pattern')"  class="text-red-500">
          Se debe introducir un teléfono valido
        </span>
      </div>

      <div class="field">
        <label>Correo Electrónico</label>
        <input pInputText  class="text-base p-2 w-full" formControlName="correo"  type="text">
        <span *ngIf="myForm.get('correo')?.hasError('required') && myForm.controls['dni'].touched" class="text-red-500">
          El correo electrónico es requerido
        </span>
        <span *ngIf="myForm.get('correo')?.hasError('required') ? false:  myForm.get('correo')?.hasError('pattern')"  class="text-red-500">
          Se debe introducir un correo electrónico valido
        </span>
      </div>

      <div class="field">
        <label>Repetir Correo Electrónico</label>
        <input pInputText class="text-base p-2 w-full" formControlName="repetirCorreo"  type="text">
        <span *ngIf="isValidField('repetirCorreo')"  class="text-red-500">
          El correo no coincide
        </span>
      </div>

      <div class="field">
        <label>Dirección</label>
        <input pInputText class="text-base p-2 w-full" formControlName="direccion"  type="text">
        <span *ngIf="isValidField('direccion')"  class="text-red-500">
          La dirección es requerida
        </span>
      </div>


      <div class="field">

        <p-button
          label="Enviar"
          type="submit"
          [disabled]="myForm.pristine  || !myForm.valid"
          [text]="true"
          [raised]="true" />

      </div>

      <div class="text-center">
        <a routerLink="/auth/login">Ir a Iniciar Sesión</a>
      </div>

    </form>
  </div>

  <app-visual-plan [visualPlan]="visualPlan" class="lg:col-3 sm:col-11 md:col-3 p-4 mt-5 border rounded-md shadow-md bg-white"></app-visual-plan>

</div>

<!-- Dialogs -->
<p-toast></p-toast>

